cachetools
gunicorn
flask
flask-cors
flask-restx
Flask-API
requests~=2.19.1
pyshp~=2.0.0.dev0
gitpython~=2.1.11
PyJWT~=1.7.1
xmltodict~=0.12.0
boto3==1.9.199
owslib~=0.18.0
requests_file~=1.4.3
natsort~=6.0.0
pillow
pyproj
psycopg2 ; sys_platform == 'linux'
psycopg2-binary ; sys_platform == 'darwin'
flask_sqlalchemy
Werkzeug==3.0.1
marshmallow-sqlalchemy
mapproxy~=1.12
pycryptodome
